<div class="lang-div d-flex flex-column">
    {% unless page.lang-exclusive and page.lang-exclusive | uniq | size == 1 and page.lang-exclusive[0] == site.active_lang %}
        <i class="fa-solid fa-language"></i>
        {% for tongue in site.languages %}
            {% if tougue != site.active_lang %}
                <p class="lang-name-box">
                    {% if page.lang-exclusive %}
                        {% assign is_lang_exclusive = false %}
                        {% for lang in page.lang-exclusive %}
                            {% if tongue == lang %}
                                {% assign is_lang_exclusive = true %}
                            {% endif %}
                        {% endfor %}
                        {% if is_lang_exclusive == false %}
                            {% comment %} <a class="lang-name disabled-lang">
                                {{ site.data.locales[tongue].tabs.lang_name }}
                            </a> {% endcomment %}
                        {% else %}
                            <a class="lang-name" {% static_href %}href="{% if tongue == site.default_lang %}{{site.baseurl}}{{page.url}}{% else %}{{site.baseurl}}/{{ tongue }}{{page.url}}{% endif %}"{% endstatic_href %}>
                                {{ site.data.locales[tongue].tabs.lang_name }}
                            </a>
                        {% endif %}
                    {% else %}
                        <a class="lang-name" {% static_href %}href="{% if tongue == site.default_lang %}{{site.baseurl}}{{page.url}}{% else %}{{site.baseurl}}/{{ tongue }}{{page.url}}{% endif %}"{% endstatic_href %}>
                            {{ site.data.locales[tongue].tabs.lang_name }}
                        </a>
                    {% endif %}
                </p>
            {% endif %}  
        {% endfor %}
    {% endunless %}
</div>