<div class="site-nav-container">
<nav class="site-nav" role="navigation">
      <button class="nav-toggle" aria-expanded="false" aria-controls="nav-menu" aria-label="Toggle navigation">
        <span class="nav-toggle-icon"></span>
      </button>
      <ul class="nav-menu">
        <li class="nav-menu-item dropdown">
          <a href="{{ site.baseurl }}/" class="nav-menu-link {% if page.url == "/index.html" %}nav-menu-link--active{% endif %}">Home</a>
          <ul class="dropdown-content">
            <li><a href="#">hello</a></li>
          </ul>
        </li>
        <li class="nav-menu-item">
          <a href="{{ site.baseurl }}/about.html" class="nav-menu-link {% if page.url == "/about.html" %}nav-menu-link--active{% endif %}">About</a>
        </li>
      </ul>
</nav>
</div>